In [14]:
import pandas as pd
import numpy as np
import qgrid

In [19]:
df = pd.read_csv('result.csv', index_col=0)

In [20]:
df.columns

Index([u'age', u'contact', u'campaign', u'previous', u'emp.var.rate',
       u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'nr.employed',
       u'job_Professional', u'job_Retired', u'job_Service', u'job_Student',
       u'job_Unemployed', u'job_Unskilled', u'job_unknown',
       u'marital_divorced', u'marital_married', u'marital_single',
       u'education_Basic', u'education_Degree', u'education_Mid',
       u'education_unknown', u'default_no', u'default_unknown', u'default_yes',
       u'housing_no', u'housing_unknown', u'housing_yes', u'loan_no',
       u'loan_unknown', u'loan_yes', u'poutcome_failure',
       u'poutcome_nonexistent', u'poutcome_success', u'y_proba'],
      dtype='object')

In [21]:
df.head()

,age,contact,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_Professional,...,housing_no,housing_unknown,housing_yes,loan_no,loan_unknown,loan_yes,poutcome_failure,poutcome_nonexistent,poutcome_success,y_proba
32884,57,1,1,1,-1.197935,-1.179380,-1.231034,-1.338939,-0.940281,0,...,1,0,0,0,0,1,1,0,0,0.1
3169,55,0,2,0,0.648092,0.722722,0.886447,0.714190,0.331680,0,...,0,0,1,1,0,0,0,1,0,0.0
32206,33,1,1,1,-1.197935,-1.179380,-1.231034,-1.330867,-0.940281,0,...,1,0,0,1,0,0,1,0,0,0.0
9403,36,0,4,0,0.839061,1.536429,-0.280328,0.775881,0.845170,0,...,1,0,0,1,0,0,0,1,0,0.0
14020,27,1,2,0,0.839061,0.591424,-0.474791,0.773575,0.845170,0,...,0,0,1,1,0,0,0,1,0,0.0

In [ ]:
'age', 'contact', 'campaign', 'nr.employed'

In [25]:
df2 = pd.read_csv('bank-additional/bank-additional-full.csv', sep=';').iloc[df.index]

In [26]:
df2['y_proba'] = df['y_proba']

In [27]:
df2.to_csv('result.csv')